In [1]:
print("hello world")

hello world

In [2]:

import itc_utils.flight_service as itcfs

# NOTE:
#  A limit of 5000 rows has been applied to the request to enable sample previewing.
#  Edit or comment-out row_limit to change or disable the row limit.
#
nb_data_request = {
    'connection_name': """WHConnection""",
    'interaction_properties': {
        'row_limit': 5000,
        'schema_name': 'WHTESTUSR',
        'table_name': 'TRANSACTION_TYPES'
    }
}
flight_descriptor = itcfs.get_flight_descriptor(nb_data_request=nb_data_request)

flightClient = itcfs.get_flight_client()
flightInfo = flightClient.get_flight_info(flight_descriptor)

df_0 = itcfs.read_pandas_and_concat(flightClient, flightInfo, timeout=240)
df_0.head(10)

     ID TRANSACTION_TYPE                      DESCRIPTION TRANSACTION_FEE
0  TT03         Transfer        Transfer between accounts            1.00
1  TT04   Online Payment  Online bill or merchant payment            0.25
2  TT01          Deposit            Cash or check deposit            0.00
3  TT02       Withdrawal         ATM or teller withdrawal            0.50